.navigation-container {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    position: relative;

    

    .logo-container {
        padding-left: 15px;
        padding-top: 10px;
        

        @media only screen and (max-width: 600px) {
           padding-left: 10px;
        }
    }

    .links-container {
        display: flex;
        
        min-height: 100%;
        justify-content: flex-end;
        align-items: center;
        
        .nav-link {
            cursor: pointer;            
            text-transform: uppercase;
            padding: 0 15px;

            @media only screen and (max-width: 450px) {
                padding: 0 10px;
                font-size: 14px;
             }
        }
    }


}