.cart-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 45px;
    width: 45px;
    cursor: pointer;            
    svg {
        height: 24px;
        width: 24px;
    }
    .cart-count {
        position: absolute;
        font-size: 10px;
        bottom: 12px;
        font-weight: 600;
    }
}